<!DOCTYPE html>
<html lang="en">

<head>
    <title>Donatee Profile</title>
    <!-- Given style references -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-5.3.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static/remixicon.css">
    <link rel="stylesheet" type="text/css" href="/static/plugin.css">
    <link rel="stylesheet" type="text/css" href="/static/main-style.css">
    <style>
        body {
            background-color: white; /* Setting background color to white */
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- Top section with search and dropdowns -->
        <div class="row align-items-center py-3">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <div class="col-md-6 text-end">
                <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dashboardDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Dashboard
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dashboardDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <button class="btn" type="button">
                    <i class="ri-notification-3-line"></i>
                </button>
            </div>
        </div>

        <hr>

        <!-- Profile Section -->
        <div class="row align-items-center py-3">
            <div class="col-md-6 d-flex align-items-center">
                <img src="/static/images/profile/default-profile.png" alt="Profile Image" class="rounded-circle" style="width: 100px; height: 100px;">
                <div class="ms-3">
                    <h4>John Doe <small class="text-muted">Donatee</small></h4>
                    <div>
                        <i class="ri-instagram-line"></i>
                        <i class="ri-facebook-box-line"></i>
                        <i class="ri-twitter-line"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Video about organization -->
                <div style="width: 100%; padding-top: 56.25%; position: relative;">
                    <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/your_video_id" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <hr>

        <!-- Donors Display -->
        <h5>People who have donated to you</h5>
        <div class="d-flex justify-content-start">
            <!-- Repeat this block for each donor -->
            <div class="p-2">
                <img src="/static/images/profile/donor1.png" alt="Donor Profile" class="rounded-circle" style="width: 60px; height: 60px;">
                <p>Donor Name</p>
            </div>
            <div class="p-2">
                <img src="/static/images/profile/donor2.png" alt="Donor Profile" class="rounded-circle" style="width: 60px; height: 60px;">
                <p>Donor Name</p>
            </div>
            <div class="p-2">
                <img src="/static/images/profile/donor3.png" alt="Donor Profile" class="rounded-circle" style="width: 60px; height: 60px;">
                <p>Donor Name</p>
            </div>
        </div>
        <p><a href="#">See all</a></p>

        <hr>

        <!-- Post Achievements Section -->
        <h5>Post your achievement</h5>
        <div class="row">
            <!-- Repeat this block for each post -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <video width="100%" controls>
                        <source src="movie.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="card-body">
                        <p>Video description and views</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <video width="100%" controls>
                        <source src="movie.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="card-body">
                        <p>Video description and views</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="/static/bootstrap.bundle.min.js"></script>
</body>

</html>